name: Run Unit Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.13.1
      uses: actions/setup-python@v4
      with:
        python-version: '3.13.1'
    
    # checkQC currently only accepts python version between 3.10 and 3.11 but 
    # projman uses 3.13 thuis this is temporarily fixed here by cloning it
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install -e . -r requirements_dev.txt
        git clone https://github.com/Molmed/checkQC.git

    
    - name: Launch tests
      run: |
        python3 -m pytest tests/
    
